/* Css for all-----------------------------------------------*/
* {
  margin: 0 0;
  padding: 0 0;
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 1%;
}

.img-responsive {
  widows: 100%;
}

.text-right {
  text-align: right;
}

.clearfix {
  clear: both;
  float: none;
}

a {
  color: #47B6FF;
  text-decoration: none;
}

a:hover {
  color: #F50010;
}

.text-center {
  text-align: center;
}

h1 {
  color: #F50010;
  font-weight: bolder;
  font-family: Verdana, sans-serif;
}

h2 {
  color: #272727;
  font-weight: bold;
  margin: 2%;
  font-family: Verdana, sans-serif;
}

/* css for Navbar section **************************************/
.logo {
  width: 10%;
  float: left;
}

.menu {
  line-height: 70px;
}

.menu ul {
  list-style-type: none;
}

.menu ul li {
  display: inline;
  padding: 1%;
  font-weight: bold;
}

/*css for mainbody _________________________________________________*/
.mainbody {
  padding: 1% 0;
  background-color: #47B6FF;
}

.box-1 {
  
  width: 33%;
  float: left;
  margin: 2%;
  border-radius: 6px;
}

.box-3 {
  border: 2px solid #F50010;
  width: 57%;
  float: left;
  margin: 2%;
  border-radius: 6px;
}

.box-2 {
  border: 2px solid #F50010;
  width: 45%;
  float: left;
  margin: 2%;
  border-radius: 6px;
}

/*css for client contact form and login form **********************************/
input[type=text], input[type=tel], input[type=email], input[type=password], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #272727;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #F50010;
  color: white;
  padding: 1%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 0;
}

input[type=submit]:hover {
  background-color: #272727;
}

input[type=login] {
  background-color: #F50010;
  color: white;
  padding: 2%;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 0;
}

.box-1 form {
  margin: 3%;
}

.box-3 form {
  margin: 2%;
}

.box-2 form {
  margin: 2%;
}

/*css for forgotpassword link _______________________________________________*/
.forgotpassword {
  color: #272727;
  padding: 2%;
  margin: 10px;
  font-size: 12px;
}

/*css for social media link_________________________________________________*/
.social ul {
  list-style-type: none;
}

.social ul li {
  display: inline;
  padding: 2%;
}

/*CSSFOR FOOTER------------------------------------------------------------- */
.footer{
  font-weight: bold;
}
/* CSS FOR MOBILE SIZE*/
@media only screen and (max-width:768px) {
  .logo {
    width: 80%;
    float: none;
    margin: 1% auto;
  }

  .menu ul {
    text-align: center;
  }

  .box-3 {
    width: 90%;
    margin-bottom: 1% auto;
  }

  .box-2 {
    width: 90%;
    margin-bottom: 1% auto;
  }

  .social ul li {
    padding: 5%;
  }

  .signinform{
    width: 90%;
    margin-bottom: 2% auto;

  }
}

/* CSS for contact us page-------------------------------------------------- */

.contactusbox{
  margin: 2%;
}

/* CSS FOR signin LOGIN----------------------------------------------------- */
.center {
  width: 70%;
  margin: 3% auto;
  position: relative;
}

.center .header {
  font-size: 28px;
  font-weight: bold;
  color: white;
  padding: 25px 0 30px 25px;
  background: #F50010;
  border-bottom: 1px solid #47B6FF;
  border-radius: 5px 5px 0 0;
}

.center form {
  position: absolute;
  background: white;
  width: 100%;
  padding: 50px 10px 20px 30px;
  box-sizing: border-box;
  border: 1px solid #47B6FF;
  border-radius: 0 0 5px 5px;
}

form input {
  height: 50px;
  width: 90%;
  padding: 0 10px;
  border-radius: 3px;
  border: 1px solid white;
  font-size: 18px;
  outline: none;
}

form input[type="password"] {
  margin-top: 20px;
}

form i {
  position: absolute;
  font-size: 25px;
  color: white;
  margin: 15px 0 0 -45px;
}

form a {
  text-decoration: none;
  font-size: 18px;
  color: #47B6FF;
  padding: 0 0 0 20px;
}
